.container{
  margin-top: 50px;
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
}

/* .license {
  padding: 0 10.5vw;
  height: 9.8vh;
} */

.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
}

.logo {
  width: 85px;
  height: 85px;
}

@media (max-width: 768px) {
  .copyright span {
    font-size: small;
  }
}