# Requiere revisión de al menos dos usuarios para la rama main
# Cualquier cambio en la rama main debe ser revisado por usuario1 y usuario2
/main @facuvillar27 @amilcarHernandez24 @frafe27

# Requiere revisión de al menos un usuario para la rama develop
# Cualquier cambio en la rama develop debe ser revisado por usuario3
/develop @facuvillar27 @amilcarHernandez24 @frafe27
