.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.cta {
  display: flex;
  background-image: url('../assets/cta_img.png');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 65vh;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  background-color: transparent;
  color: var(--white);
  width: 260px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--white);
}

.input::placeholder {
  color: var(--white);
}
/* SEARCH BAR */

.searchContainer {
  background-color: var(--accent);
  border-radius: 50px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  margin: 60px 20px 20px 20px;
  padding: 0 20px
}
.search{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search:hover{
  transform: scale(1.02);
  transition: transform 0.4s ease;
}

.calendar_icon{
  margin-left: 10px;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .button{
  border: none;
  background-color: transparent;
}

.form_group{
  background-color: white;
  padding: 10px 15px;
  border: solid 1px var(--accent);
}

.form_group_left{
  background-color: white;
  padding: 10px 15px;
  border-radius: 50px 0 0 50px;
}

.form_group_right{
  background-color: white;
  padding: 10px 15px;
  border-radius: 0px 50px 50px 0;
}

.location{
  background-color: transparent;
  border-radius: 50px 0 0 50px;
  border: none;
}

.date{
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
}

.search_text{
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

.cat_menu {
  margin: 35px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 80%;
  height: 133px;

  border-radius: 10px;
  background-color: var(--dark-white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

.cat_icon{
  scale: 1.5;
}

.cat_link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1.1);
  gap: 12px;
}

.cat_link:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease;
  color: var(--primary);
}

.cat_btn:hover {
  background-color: var(--primary);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  transform: scale(1.1);
}

.cat_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 40px;
  margin: 0;

  color: var(--dark-white);
  font-size: 24px;
  font-weight: var(--font-h2-h3-weight);
  border-radius: 10px;
  background-color: var(--accent);
  transition: transform 0.3s ease;
}

.home_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 12px;
  width: 90%;
  background-color: var(--dark-white);
  border-radius: 10px;
  min-height: 30vh;
}


.cta_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  border-radius: 10px;
  width: 684px;
  font-size: 36px;
  font-weight: var(--font-h1-weight);
  background: rgba(56, 56, 56, 0.8);
  color: var(--white);
  margin: 60px;
  padding: 12px;
  height: 200px;
}

.cat.text{
  color: var(--accent);
  font-size: 24px;
  font-weight: var(--font-p-weight);
  text-align: center;
}

.no_tours {
  grid-column: span 2; /* Ocupa ambas columnas */
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--accent); /* Ajusta el color según el diseño */
  margin: auto; /* Centra en el eje vertical */
  padding: 20px;
}

.culturalSpan{
  color: #964B00;
}
.naturalezaSpan{
  color: #3E8E41;
}
.gastronomiaSpan{
  color: #808080;
}
.aventuraSpan{
  color: #1976D2;
}

.loader{
  grid-column: span 2;
  text-align: center;
  margin: auto;
}
@media (max-width: 992px) {
  .home_body {
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .home_body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .cat_menu {
    margin: 5px;
    height: auto;
  }

  .cta_box > h1{
    font-weight: var(--font-h2-h3-weight);
    margin: 0;
  }

/* 
    .filters {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }
  
    .filter_cat {
      margin: 10px;
    }
  
  
    .cat_cards {
      display: block;
      width: 100%;
    } */
}


@media (max-width: 576px) {
  .cta_box > h1{
    font-weight: var(--font-p-weight);
    margin: 0;
  }

  .cta_box {
    width: 80%;
    font-size: 24px;
  }
  .cat_menu {
    height: auto;
  }
}