/* Contenedor principal */
.policy_container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Título principal */
.block_title {
    font-size: 28px;
    color: #333;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

/* Secciones de políticas */
.policy_section {
    margin-bottom: 30px;
}

.policy_section h2 {
    font-size: 22px;
    color: #6251b0;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #FBB828;
    padding-bottom: 5px;
}

.policy_section p {
    margin-bottom: 15px;
}

.policy_section ul {
    list-style: disc;
    padding-left: 40px;
}

/* Distribución en columnas */
.policy_section ul {
    width: auto;
    display: flex;
    column-gap: 30px;
    align-items: flex-start;
}

@media (max-width: 520px) {
    .policy_section ul {
        flex-direction: column;
    }
  }