.reserved {
    background-color: #ffcccc !important;
    border-radius: 50% !important;
  }

  .available {
    background-color: var(--accent-light) !important;
    border-radius: 45% !important;
  }

  .calendar_container{
    margin-top: 50px;
    margin-bottom: 10px;
  }
