.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--white)
  }
  .container  {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 800px;
      height: auto;
      padding: 40px;
      border-radius: 10px;
      background-color: var(--dark-white);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    }
  
    .form{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      min-width: 600px;
    }
  
    .button {
      appearance: button;
      backface-visibility: hidden;
      background-color: var(--primary);
      border-radius: 6px;
      border-width: 0;
      box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
      font-size: 100%;
      height: 44px;
      line-height: 1.15;
      margin: 12px 0 0;
      outline: none;
      overflow: hidden;
      padding: 0 25px;
      position: relative;
      text-align: center;
      text-transform: none;
      transform: translateZ(0);
      transition: all .2s,box-shadow .08s ease-in;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 100%;
  }
  
  .button:disabled {
    cursor: default;
  }
  
  .button:hover{
    background-color: var(--primary-hover);
    box-shadow: var(--primary-hover) 0 0 0 1px inset, var(--primary-hover) 0 6px 15px 0, var(--primary-hover) 0 2px 2px 0, var(--primary-hover) 0 0 0 4px;
    font-weight: bold;
  }
  
  .button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
  
  .input{
    padding: 12px 20px;
    font-size: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary);
    border-radius: 4px;
    text-align: center;
    outline: transparent;
    width: 100%;
    transition: all 0.3s ease;
  }

  .input:focus {
    border-color: var(--accent);
    }
  
  .title{
    color: var(--primary);
    font-size: 36px;
    font-weight: var(--font-h1-h2-weight);
    margin: 0;
  }

 /* Estilo para el mensaje de éxito */
.successMessage {
  font-size: 16px;
  color: #28a745;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 5px;
  background-color: #e7f7ec;
  animation: fadeIn 1s ease-out;
}

/* Estilo para el mensaje de error */
.errorMessage {
  font-size: 16px;
  color: #dc3545;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 5px;
  animation: fadeIn 1s ease-out;
}

.errorList{
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

/* Contenedor de errores, si es necesario */
.errorContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #ffdddd;
  border: 1px solid #ff5a5a;
  border-radius: 5px;
}


/* Animación para el mensaje */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}