.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--white)
  }
  .container  {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 800px;
      height: auto;
      padding: 40px;
      border-radius: 10px;
      background-color: var(--dark-white);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    }
  
    .form{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  
  .button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      color: var(--dark-white);
      font-size: 24px;
      font-weight: var(--font-h2-h3-weight);
      border-radius: 10px;
      background-color: var(--accent);
      transition: transform 0.1s ease;
  }
  
  .input{
    padding: 12px 20px;
    font-size: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary);
    border-radius: 4px;
    text-align: center;
    outline: transparent;
    width: 100%;
    transition: all 0.3s ease;
  }

  .input:focus {
    border-color: var(--accent);
    }
  
  .title{
    color: var(--primary);
    font-size: 36px;
    font-weight: var(--font-h1-h2-weight);
    margin: 0;
  }

  /* Estilo para el mensaje de éxito */
.successMessage {
  font-size: 16px;
  color: #28a745;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 5px;
  background-color: #e7f7ec;
  animation: fadeIn 1s ease-out;
}

/* Estilo para el mensaje de error */
.errorMessage {
  font-size: 16px;
  color: #dc3545;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  animation: fadeIn 1s ease-out;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #ffdddd;
  border: 1px solid #ff5a5a;
  border-radius: 5px;
}

.errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: #ff5a5a;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Animación para el mensaje */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}