:root {
  --black: #161617;
  --white: #FBFBFD;
  --dark-white: #F4F4F4;
  --grey: #818589;
  --dark-grey: #383838;
  --primary: #EB661B;
  --secondary: #90C151;
  --accent: #604CC3;
  --success: #0fbda4;
  --warning: #FBB828;
  --danger: #D22C2C;

  --font-family: "Nunito", sans-serif;
  --font-h1-weight: 700;
  --font-h2-h3-weight: 600;
  --font-p-weight: 400;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: var(--font-family);
  height: 100vh;
}
