
.navbar{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 90px;
  padding: 0 10.5vw;

  transition: 0.5s ease-in;
}

.scrolled {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 90px;
  padding: 0 10.5vw;
  background-color: var(--accent);
  opacity: 0.93;
  z-index: 1000;

  transition: 0.5s ease-out;
}

.scrolled > ul > li > a {
  color: var(--white);
}

.hamburger {
  display: none;
}

.navbar_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 350px;
  margin: 0;
  padding: 0;
}

.logo {
  width: 85px;
  height: 85px;
}

.nav_link {
  text-decoration: none;
  color: var(--black);
  font-weight: var(--font-h2-h3-weight);
  font-size: 20px;
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
    cursor: pointer;
  }

  ul{
    width: 0;
  }

  .nav_link {
    display: none;
  }

  .dropdown{
    display: flex;
    ;
  }
}
